<div style="font-weight: bold;">Ressource</div> {{ressource}}  <div style="font-weight: bold;">AdminKey</div>  {{adminKey}}
<br><button *ngIf="afficherEnregistrer" (click) ="enregistrer(null)" >Enregistrer</button>
<button *ngIf="afficherInstaller && erreurs.length === 0" (click) ="installer()" > Installer</button>
<div *ngFor=" let erreur of erreurs ">{{erreur.nom}} {{erreur.libelle}}</div>
<dadou-tree  [typeService]="typeService" [config]="configArbre" [arbre]="objet" ></dadou-tree>
<ngx-spinner></ngx-spinner>

