Nom<input [(ngModel)]="apiRest.nom"><br>
Utilise index <input type="checkbox" [(ngModel)]="apiRest.useIndex"><br>
Mode<select [(ngModel)]="apiRest.mode">
    <option value="NoID">NoID</option>
    <option value="Simple">Simple</option>
    <option value="Deep">Deep</option>
 </select><br>
<div *ngIf="apiRest.erreur">Erreur {{apiRest.erreur}}</div>
<textarea spellcheck="false" [(ngModel)]="apiRest.requete" rows="10" cols="50"></textarea>