<div class="ligne"><b>Host</b> <input [(ngModel)]="host" spellcheck="false">  </div>
<div class="ligne"><b>Query</b> <textarea spellcheck="false" [(ngModel)]="query" rows="10" cols="50"></textarea><br> <button (click)="executer()">Executer</button></div>
<b>Deep</b><input id="deep" type="radio"  label="Deep" value="deep" name="typeQuery" [(ngModel)]="typeQuery">
<b>Simple</b><input id="simple" type="radio"  label="Simple" value="simple" name="typeQuery" [(ngModel)]="typeQuery">
            
<div class="ligne"><b>Nom</b> <input [(ngModel)]="nom" spellcheck="false"> <b>Historique</b> <select (ngModelChange)="select($event)" [(ngModel)] ="selectionHistorique">
   <option *ngFor="let elt of historique">{{elt}}</option> 
    </select> </div>
<app-json-array [array]="data" *ngIf="data"></app-json-array>

