{{ressource}}
<br><button (click) ="enregistrer()" >Enregistrer</button>
<button (click)="nouveau()">Nouveau</button>
URL <input [(ngModel)]="url">

<div *ngFor="let apiRest of apiRestList" > 
    <button (click)="supprimer(apiRest)">Supprimer</button><br>
<app-api-rest [apiRest]="ajouterErreurSiBesoin(apiRest)"></app-api-rest>
</div>
<ngx-spinner></ngx-spinner>

