<button (click)="toggle()">{{label()}}</button>
<div *ngIf="open">
    <div *ngFor="let key of keys()">
        <div class="deplacementX">
            <b>{{key}}</b>
            <b>=</b>
            <app-json-array *ngIf="isArray(object[key])" [array]="object[key]"></app-json-array>
            <app-json-object *ngIf="isObject(object[key])" [object]="object[key]"></app-json-object>

            <b *ngIf="isNumber(object[key])">{{object[key]}}</b>
            <b *ngIf="isBoolean(object[key])">{{object[key]}}</b>
            <b *ngIf="isString(object[key])">{{object[key]}}</b>
        </div>
    </div>
</div>