
<button (click)="config()">Config</button><button (click) ="explorer()"  >Explorer</button><button (click) ="model()"  >Model</button><button (click) ="api()"  >API</button>
<div *ngIf="generationRep"  >Génération dans {{generationRep}}</div>
<router-outlet ></router-outlet>