<button (click)="toggle()">{{label()}}</button>
<div *ngIf="open">
    <div *ngFor="let key of keys()" >
        <div class="deplacementX">
            <b>{{key}}</b>
            <b>=</b>
            <app-json-array *ngIf="isArray(array[key])" [array]="array[key]"></app-json-array>
            <app-json-object *ngIf="isObject(array[key])" [object]="array[key]"></app-json-object>
            <b *ngIf="isNumber(array[key])">{{array[key]}}</b>
            <b *ngIf="isBoolean(array[key])">{{array[key]}}</b>
            <b *ngIf="isString(array[key])">{{array[key]}}</b>
        </div>
    </div>
</div>