<!-- <dadou-tree [typeService]="typeService" [config]="configArbre" [arbre]="objet"></dadou-tree>
-->

 <router-outlet></router-outlet> 

<!--
<br>
<button (click) ="enregistrer()" *ngIf="objet && !explorer">Enregistrer {{ressource}}</button>
<button (click) ="explorer=true" *ngIf="objet && !explorer">Explorer</button>
<dadou-tree  [typeService]="typeService" [config]="configArbre" [arbre]="objet" *ngIf="objet && !explorer "></dadou-tree>
<app-explorateur  [contenu]="contenu" [extension] ="extension" (ouvrir)="charger($event)"></app-explorateur>
<b>{{message}}</b>
<input [ngModel]="ressource">
<button (click) ="enregistrer()">Enregistrer</button>-->