<br>Java jvm path<input [(ngModel)]="javaJvm">
<br>Jpa class path<input [(ngModel)]="jpaClassPath">
<br><button (click)="modifierConfigJava()">Modifier config java</button>{{messageConfigJava}}
<br>serveur environement<input [(ngModel)]="serveurEnvironement">
<br>key environement<input [(ngModel)]="keyEnvironement">
<br><button (click)="modifierConfigEvironement()">Modifier config environement</button>{{messageConfigEnvironement}}