<button  *ngIf="modelCourant" (click)="associer()">Associé à {{modelCourant}}</button>
<p><input [(ngModel)]="chemin"><button *ngIf="!erreurRecupererElement"
        (click)="initialiserRepertoireTravail()">Work</button></p>
<p *ngFor="let element of recupererElements()">
    <button class="element-rep" *ngIf="element.type ==='directory'" (click)="explorer(element)">{{element.type}} {{element.name}}</button>
    <button class="element-rep"  *ngIf="element.type ==='file'" (click)="ouvrirFichier(element)">{{element.type}} {{element.name}}</button>
    <button (click)="supprimer(element)">X</button>
   
</p>
<button *ngIf="!nouveau" (click)="nouveauRepertoire()">Nouveau Repertoire</button>
<button *ngIf="!nouveau" (click)="nouveauFichier()">Nouveau Fichier</button>
<p *ngIf="nouveau">{{nouveau.type}}</p><input *ngIf="nouveau" [(ngModel)]="nouveau.name"
    (ngModelChange)="afficherValider()">
<button *ngIf="nouveau && nouveau.valider" (click)="valider()">Valider</button>

<ngx-spinner></ngx-spinner>